*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
   background-color: azure;
}

.wrapper{
  background-color: cadetblue;
  /* navbar height = 56px */
  /* footer height = 40px */
  min-height: calc(100vh - 56px - 40px);
}